#include "german-keymap.h"
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

// The default keymap is roughly on Miryoku layout
// (https://github.com/manna-harbour/miryoku).
// Customize on your own on the config folder.


#define DEFAULT 0
#define NUMMY   1
#define SIGNS   2

&mt {
  flavor = "tap-preferred";
  tapping-term-ms = <180>;
};
/ {
    combos {
        compatible = "zmk,combos";
        combo_ret {
            timeout-ms = <50>;
            key-positions = <13 16>;
            bindings = <&kp RET>;
        };
    };
};

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <150>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };

    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
    &kp DE_Q  &kp DE_W  &kp DE_E  &kp DE_R  &kp DE_T       &kp DE_Y  &kp DE_U  &hm LGUI DE_I      &kp DE_O    &kp DE_P
    &kp DE_A  &kp DE_S  &kp DE_D  &hm LALT DE_F  &kp DE_G  &kp DE_H  &kp DE_J  &kp DE_K      &kp DE_L    &kp BSPC
    &kp DE_Z  &kp DE_X  &kp DE_C  &kp DE_V  &kp DE_B       &kp DE_N  &kp DE_M  &kp COMMA  &kp DOT  &kp DE_MINS
                  &sk LSHFT  &kp SPACE  &sk LSHFT          &sk LCTRL  &kp ESC &kp DEL
            >;
        };

        NUMMY  {
// ---------------------------------------------------------------------------------------------------------------------------------
// |  !   |  "   |  0    |  $    |  '    |              |   &   |  /    |   +    |   *   |    #   |
// |  1   |  2   |  3    |  4    |  5    |              |   6   |  7    |   8    |   9   |   <--  |
// |  =   |  ?   |  %    |  | ^  |  ` ´  |              |   |   |  \    |   ,    |   .   |    -   |
//                       | DEL   | RET   |  SPACE       |   RET   |  SPACE  | TAB   |
		bindings = <
&kp DE_EXLM &kp DE_DQUO  &kp N0 &mt DLLR DE_SECT &kp DE_QUOT         &kp DE_AMPR &kp DE_SLSH &kp DE_PLUS &kp DE_ASTR &kp DE_HASH
&kp N1 &kp N2 &kp N3 &kp N4 &kp N5                                   &kp N6 &kp N7 &kp N8 &kp N9 &kp BSPC
&kp DE_EQL &kp DE_QUES &kp DE_PERC &kp DE_CIRC &mt DE_ACUT DE_GRV    &kp DE_PIPE &kp DE_BSLS &kp COMMA &kp DOT &kp DE_MINS
		 &sk LSHFT &kp SPACE &sk LSHFT                       &kp DEL &kp ESC &kp LCTRL
		>;
            };

    };
};
