#include "german-keymap.h"
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

// The default keymap is roughly on Miryoku layout
// (https://github.com/manna-harbour/miryoku).
// Customize on your own on the config folder.

#define BASE    0
#define NAV     1
#define SYM     2
#define NUM     3
#define FUN     4
#define MED     5

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <150>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };

    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
    &kp DE_Q  &kp DE_W  &kp DE_E  &kp DE_R  &kp DE_T     &kp DE_Y  &kp DE_U  &hm LGUI DE_I      &kp DE_O    &kp DE_P
    &kp DE_A  &kp DE_S  &kp DE_D  &hm LALT DE_F  &kp DE_G     &kp DE_H  &kp DE_J  &kp DE_K      &kp DE_L    &kp BSPC
    &kp DE_Z  &kp DE_X  &kp DE_C  &kp DE_V  &kp DE_B     &kp DE_N  &kp DE_M  &kp COMMA  &kp DOT  &kp FSLH
                  &kp ESC  &kp SPACE  &kp LSHFT     &kp LCTRL  &kp RET &kp DEL
            >;
        };

    };
};
